# Time Series Jumlah Wisatawan Mancanegara

Dibuat oleh: Anthony Kevin Oktavius

In [ ]:
! pip install -U statsmodels

Library Import

In [1]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.tsa.arima.model import ARIMA
from sklearn.model_selection import train_test_split
from datetime import date

## Data Loading

In [9]:
base_dir = "Jawa Barat/"

In [8]:
list_of_jawa_barat_time_series_files = os.listdir(base_dir)
list_of_jawa_barat_time_series_files = [f"{base_dir}{file_name}" for file_name in list_of_jawa_barat_time_series_files]
print(list_of_jawa_barat_time_series_files)

['Jawa Barat/disparbud-od_15422_jumlah_wisatawan_berdasarkan_kategori_data.csv']

## Data Preprocessing

In [13]:
nama_provinsi_field = "nama_provinsi"
kategori_wisatawan_field = "kategori_wisatawan"
jumlah_wisatawan_field = "jumlah_wisatawan"
tahun_field = "tahun"

In [21]:
jawa_barat_time_series_columns = [
  nama_provinsi_field, 
  kategori_wisatawan_field, 
  jumlah_wisatawan_field,
  tahun_field
]

jawa_barat_tourism_time_series_df = pd.read_csv(
    list_of_jawa_barat_time_series_files[0],
    usecols = jawa_barat_time_series_columns
)
jawa_barat_tourism_time_series_df

   nama_provinsi     kategori_wisatawan  jumlah_wisatawan  tahun
0     JAWA BARAT     WISATAWAN DOMESTIK          42758063   2012
1     JAWA BARAT  WISATAWAN MANCANEGARA           1905378   2012
2     JAWA BARAT     WISATAWAN DOMESTIK          45536179   2013
3     JAWA BARAT  WISATAWAN MANCANEGARA           1794401   2013
4     JAWA BARAT     WISATAWAN DOMESTIK          47992088   2014
5     JAWA BARAT  WISATAWAN MANCANEGARA           1962639   2014
6     JAWA BARAT     WISATAWAN DOMESTIK          56334706   2015
7     JAWA BARAT  WISATAWAN MANCANEGARA           2027629   2015
8     JAWA BARAT     WISATAWAN DOMESTIK          58728666   2016
9     JAWA BARAT  WISATAWAN MANCANEGARA           4428094   2016
10    JAWA BARAT     WISATAWAN DOMESTIK          59644070   2017
11    JAWA BARAT  WISATAWAN MANCANEGARA           4984035   2017
12    JAWA BARAT     WISATAWAN DOMESTIK          63298608   2018
13    JAWA BARAT  WISATAWAN MANCANEGARA           2597455   2018
14    JAWA BARAT     WISATAWAN DOMESTIK          64610832   2019
15    JAWA BARAT  WISATAWAN MANCANEGARA           3645433   2019
16    JAWA BARAT     WISATAWAN DOMESTIK          36524515   2020
17    JAWA BARAT  WISATAWAN MANCANEGARA           1905213   2020
18    JAWA BARAT     WISATAWAN DOMESTIK          47132138   2021
19    JAWA BARAT  WISATAWAN MANCANEGARA            220531   2021

In [23]:
jawa_barat_domestik_df = jawa_barat_tourism_time_series_df[jawa_barat_tourism_time_series_df[kategori_wisatawan_field].str.contains("WISATAWAN MANCANEGARA")]
jawa_barat_mancanegara_df = jawa_barat_tourism_time_series_df[jawa_barat_tourism_time_series_df[kategori_wisatawan_field].str.contains("WISATAWAN DOMESTIK")]

print(jawa_barat_domestik_df)
print(jawa_barat_mancanegara_df)

   nama_provinsi     kategori_wisatawan  jumlah_wisatawan  tahun
1     JAWA BARAT  WISATAWAN MANCANEGARA           1905378   2012
3     JAWA BARAT  WISATAWAN MANCANEGARA           1794401   2013
5     JAWA BARAT  WISATAWAN MANCANEGARA           1962639   2014
7     JAWA BARAT  WISATAWAN MANCANEGARA           2027629   2015
9     JAWA BARAT  WISATAWAN MANCANEGARA           4428094   2016
11    JAWA BARAT  WISATAWAN MANCANEGARA           4984035   2017
13    JAWA BARAT  WISATAWAN MANCANEGARA           2597455   2018
15    JAWA BARAT  WISATAWAN MANCANEGARA           3645433   2019
17    JAWA BARAT  WISATAWAN MANCANEGARA           1905213   2020
19    JAWA BARAT  WISATAWAN MANCANEGARA            220531   2021
   nama_provinsi  kategori_wisatawan  jumlah_wisatawan  tahun
0     JAWA BARAT  WISATAWAN DOMESTIK          42758063   2012
2     JAWA BARAT  WISATAWAN DOMESTIK          45536179   2013
4     JAWA BARAT  WISATAWAN DOMESTIK          47992088   2014
6     JAWA BARAT  WISATAWAN DOMESTIK          56334706   2015
8     JAWA BARAT  WISATAWAN DOMESTIK          58728666   2016
10    JAWA BARAT  WISATAWAN DOMESTIK          59644070   2017
12    JAWA BARAT  WISATAWAN DOMESTIK          63298608   2018
14    JAWA BARAT  WISATAWAN DOMESTIK          64610832   2019
16    JAWA BARAT  WISATAWAN DOMESTIK          36524515   2020
18    JAWA BARAT  WISATAWAN DOMESTIK          47132138   2021