# Time Series Tourism Place

Dibuat oleh: Anthony Kevin Oktavius

Library Import

In [1]:
import numpy as np
import pandas as pd
import os

Get All List of Names

In [10]:
tempat_wisata_field = "tempat_wisata"
destinasi_wisata_field = "destinasi_wisata"
tahun_field = "tahun"
bulan_field = "bulan"
jumlah_field = "jumlah"

## Data Preprocessing

Get All Datasets Name

In [3]:
base_dir = "Jakarta/"

In [4]:
list_of_jakarta_time_series_files = os.listdir(base_dir)
list_of_jakarta_time_series_files = [f"{base_dir}{file_name}" for file_name in list_of_jakarta_time_series_files]
print(list_of_jakarta_time_series_files)

['Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-desember-tahun-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-oktober-tahun-2020.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-januari-tahun-2020.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-mei-tahun-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-september-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-oktober-tahun-2019.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-februari-tahun-2018.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-maret-tahun-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-maret-tahun-2019.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-agustus-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-juni-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-agustus-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-februari-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-november-tahun-2020.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-juli-tahun-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-mei-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-september-tahun-2020.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-juli-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-juli-tahun-2020.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-september-2018.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-januari-2018.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-april-tahun-2018.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-juni-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-april-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-desember-tahun-2020.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-oktober-tahun-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-agustus-tahun-2020.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-november-tahun-2018.csv']

In [7]:
jakarta_time_series_columns = [tahun_field, bulan_field, tempat_wisata_field, jumlah_field]

concat_jakarta_tourism_time_series_df = pd.DataFrame(
  columns = jakarta_time_series_columns,
)

for file_name in list_of_jakarta_time_series_files:
  one_jakarta_time_series_df = pd.read_csv(file_name, delimiter = ',')
  one_jakarta_time_series_df.columns = jakarta_time_series_columns
  
  concat_jakarta_tourism_time_series_df = pd.concat(
    [concat_jakarta_tourism_time_series_df, one_jakarta_time_series_df],
  )

concat_jakarta_tourism_time_series_df.head(20)

   tahun bulan                 tempat_wisata   jumlah
0   2018    12       Taman Impian Jaya Ancol  1801476
1   2018    12    Taman Mini Indonesia Indah   567401
2   2018    12      Taman Margasatwa Ragunan   402761
3   2018    12              Monumen Nasional   257071
4   2018    12               Museum Nasional    26445
5   2018    12         Museum Satria Mandala      461
6   2018    12        Museum Sejarah Jakarta   140768
7   2018    12                Museum Tekstil     4301
8   2018    12                 Museum Bahari     3475
9   2018    12  Museum Seni Rupa dan Keramik    27526
10  2018    12                 Museum Wayang    50245
11  2018    12   Museum Joang 45 dan Thamrin     4110
12  2018    12        Taman Arkeologi Onrust     3876
13  2018    12        Pelabuhan Sunda Kelapa     4254
14  2018    12              Kepulauan Seribu    43280
15  2018    12              PBB Setu babakan    35830
16  2018    12               Museum Prasasti     3195
17  2018    12                   Planetarium    23190
18  2018    12               Rumah si Pitung     3435
0   2020    10       Taman Impian Jaya Ancol  1978996

In [11]:
concat_jakarta_tourism_time_series_df.sort_values(
    [tahun_field, bulan_field],
    ascending = [True, True],
)
concat_jakarta_tourism_time_series_df.head(10)

  tahun bulan                 tempat_wisata   jumlah
0  2018    12       Taman Impian Jaya Ancol  1801476
1  2018    12    Taman Mini Indonesia Indah   567401
2  2018    12      Taman Margasatwa Ragunan   402761
3  2018    12              Monumen Nasional   257071
4  2018    12               Museum Nasional    26445
5  2018    12         Museum Satria Mandala      461
6  2018    12        Museum Sejarah Jakarta   140768
7  2018    12                Museum Tekstil     4301
8  2018    12                 Museum Bahari     3475
9  2018    12  Museum Seni Rupa dan Keramik    27526

In [12]:
concat_jakarta_tourism_time_series_df.to_csv("full_jakarta_tourist_people_time_series.csv")

## Data Visualization