# Time Series Tourism Place

Dibuat oleh: Anthony Kevin Oktavius

Library Import

In [17]:
import numpy as np
import pandas as pd
import os

In [18]:
import plotly as py
import cufflinks as cf
from plotly.offline import iplot
from plotly.subplots import make_subplots
# Make sure plotly and cufflinks work in offline mode.
py.offline.init_notebook_mode(connected = True)
cf.go_offline()

Get All List of Names

In [19]:
tempat_wisata_field = "tempat_wisata"
destinasi_wisata_field = "destinasi_wisata"
tahun_field = "tahun"
bulan_field = "bulan"
jumlah_field = "jumlah"

## Data Preprocessing

Get All Datasets Name

In [20]:
base_dir = "Jakarta/"

In [21]:
list_of_jakarta_time_series_files = os.listdir(base_dir)
list_of_jakarta_time_series_files = [f"{base_dir}{file_name}" for file_name in list_of_jakarta_time_series_files]
print(list_of_jakarta_time_series_files)

['Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-desember-tahun-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-oktober-tahun-2020.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-januari-tahun-2020.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-mei-tahun-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-september-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-oktober-tahun-2019.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-februari-tahun-2018.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-maret-tahun-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-maret-tahun-2019.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-agustus-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-juni-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-agustus-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-februari-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-november-tahun-2020.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-juli-tahun-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-mei-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-september-tahun-2020.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-juli-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-juli-tahun-2020.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-september-2018.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-januari-2018.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-april-tahun-2018.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-juni-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-april-tahun-2019.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-desember-tahun-2020.csv', 'Jakarta/data-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-oktober-tahun-2018.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-bulan-agustus-tahun-2020.csv', 'Jakarta/data-jumlah-kunjungan-wisatawan-nusantara-ke-dki-jakarta-bulan-november-tahun-2018.csv']

In [22]:
jakarta_time_series_columns = [tahun_field, bulan_field, tempat_wisata_field, jumlah_field]

concat_jakarta_tourism_time_series_df = pd.DataFrame(
  columns = jakarta_time_series_columns,
)

for file_name in list_of_jakarta_time_series_files:
  one_jakarta_time_series_df = pd.read_csv(file_name, delimiter = ',')
  one_jakarta_time_series_df.columns = jakarta_time_series_columns
  
  concat_jakarta_tourism_time_series_df = pd.concat(
    [concat_jakarta_tourism_time_series_df, one_jakarta_time_series_df],
  )

concat_jakarta_tourism_time_series_df.head(20)

   tahun bulan                 tempat_wisata   jumlah
0   2018    12       Taman Impian Jaya Ancol  1801476
1   2018    12    Taman Mini Indonesia Indah   567401
2   2018    12      Taman Margasatwa Ragunan   402761
3   2018    12              Monumen Nasional   257071
4   2018    12               Museum Nasional    26445
5   2018    12         Museum Satria Mandala      461
6   2018    12        Museum Sejarah Jakarta   140768
7   2018    12                Museum Tekstil     4301
8   2018    12                 Museum Bahari     3475
9   2018    12  Museum Seni Rupa dan Keramik    27526
10  2018    12                 Museum Wayang    50245
11  2018    12   Museum Joang 45 dan Thamrin     4110
12  2018    12        Taman Arkeologi Onrust     3876
13  2018    12        Pelabuhan Sunda Kelapa     4254
14  2018    12              Kepulauan Seribu    43280
15  2018    12              PBB Setu babakan    35830
16  2018    12               Museum Prasasti     3195
17  2018    12                   Planetarium    23190
18  2018    12               Rumah si Pitung     3435
0   2020    10       Taman Impian Jaya Ancol  1978996

In [23]:
concat_jakarta_tourism_time_series_df.sort_values(
    [tahun_field, bulan_field],
    ascending = [True, True],
)
concat_jakarta_tourism_time_series_df.head(10)

  tahun bulan                 tempat_wisata   jumlah
0  2018    12       Taman Impian Jaya Ancol  1801476
1  2018    12    Taman Mini Indonesia Indah   567401
2  2018    12      Taman Margasatwa Ragunan   402761
3  2018    12              Monumen Nasional   257071
4  2018    12               Museum Nasional    26445
5  2018    12         Museum Satria Mandala      461
6  2018    12        Museum Sejarah Jakarta   140768
7  2018    12                Museum Tekstil     4301
8  2018    12                 Museum Bahari     3475
9  2018    12  Museum Seni Rupa dan Keramik    27526

See Unique Tourism Places and fix mispelled tourism place names

In [25]:
unique_tourism_places = concat_jakarta_tourism_time_series_df[tempat_wisata_field].unique()
print(f"Number of unique Tourism Places: {len(unique_tourism_places)}")
print(unique_tourism_places)

Number of unique Tourism Places: 24
['Taman Impian Jaya Ancol' 'Taman Mini Indonesia Indah'
 'Taman Margasatwa Ragunan' 'Monumen Nasional' 'Museum Nasional'
 'Museum Satria Mandala' 'Museum Sejarah Jakarta' 'Museum Tekstil'
 'Museum Bahari' 'Museum Seni Rupa dan Keramik' 'Museum Wayang'
 'Museum Joang 45 dan Thamrin' 'Taman Arkeologi Onrust'
 'Pelabuhan Sunda Kelapa' 'Kepulauan Seribu' 'PBB Setu babakan'
 'Museum Prasasti' 'Planetarium' 'Rumah si Pitung' 'Museum Joang 45'
 'Kawasan Kota Tua' 'Monumen Nasional (kawasan)' 'Kawasan Kotatua'
 'Museum Joang']

In [38]:
concat_jakarta_tourism_time_series_df.replace("Kawasan Kotatua", "Kawasan Kota Tua", inplace = True)
concat_jakarta_tourism_time_series_df.replace("Monumen Nasional (kawasan)", "Monumen Nasional", inplace = True)
concat_jakarta_tourism_time_series_df.replace("Museum Joang 45", "Museum Joang", inplace = True)
concat_jakarta_tourism_time_series_df.replace("Museum Joang 45 dan Thamrin", "Museum Joang", inplace = True)

In [39]:
unique_tourism_places = concat_jakarta_tourism_time_series_df[tempat_wisata_field].unique()
print(f"Number of unique Tourism Places: {len(unique_tourism_places)}")
print(unique_tourism_places)

Number of unique Tourism Places: 20
['Taman Impian Jaya Ancol' 'Taman Mini Indonesia Indah'
 'Taman Margasatwa Ragunan' 'Monumen Nasional' 'Museum Nasional'
 'Museum Satria Mandala' 'Museum Sejarah Jakarta' 'Museum Tekstil'
 'Museum Bahari' 'Museum Seni Rupa dan Keramik' 'Museum Wayang'
 'Museum Joang' 'Taman Arkeologi Onrust' 'Pelabuhan Sunda Kelapa'
 'Kepulauan Seribu' 'PBB Setu babakan' 'Museum Prasasti' 'Planetarium'
 'Rumah si Pitung' 'Kawasan Kota Tua']

Convert Preprocessed File to CSV.

In [40]:
concat_jakarta_tourism_time_series_df.to_csv("full_jakarta_tourist_people_time_series.csv", index = False)

## Data Visualization

Data Loading

In [4]:
full_jakarta_tourist_numbers_df = pd.read_csv("full_jakarta_tourist_people_time_series.csv")
full_jakarta_tourist_numbers_df.head()

   tahun  bulan               tempat_wisata     jumlah
0   2018     12     Taman Impian Jaya Ancol  1801476.0
1   2018     12  Taman Mini Indonesia Indah   567401.0
2   2018     12    Taman Margasatwa Ragunan   402761.0
3   2018     12            Monumen Nasional   257071.0
4   2018     12             Museum Nasional    26445.0

Get Info Data

In [5]:
full_jakarta_tourist_numbers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tahun          544 non-null    int64
 1   bulan          544 non-null    int64
 2   tempat_wisata  544 non-null    object
 3   jumlah         544 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 17.1+ KB

Describe Data

In [6]:
full_jakarta_tourist_numbers_df.describe()

             tahun       bulan        jumlah
count   544.000000  544.000000  5.440000e+02
mean   2018.838235    6.816176  1.257044e+05
std       0.807156    3.296747  3.146430e+05
min    2018.000000    1.000000  0.000000e+00
25%    2018.000000    4.000000  1.669750e+03
50%    2019.000000    7.000000  8.307000e+03
75%    2020.000000   10.000000  4.880175e+04
max    2020.000000   12.000000  1.978996e+06

In [ ]:


fig = make_subplots(rows = 6, cols = 5, shared_xaxes = False, horizontal_spacing = 0.1)

full_jakarta_tourist_numbers_df.iplot(
    kind = 'bar', 
    xTitle = "tahun", 
    yTitle = "", 
    title = "Time Series Data for Each Country"
)